@charset "UTF-8";

@font-face {
  font-family: 'Halo';
  src: url('fonts/Halo.ttf') format('truetype');
}
@font-face {
  font-family: 'HaloOutline';
  src: url('fonts/HaloOutline.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/robotoLight.ttf') format('truetype');
}
@font-face {
  font-family: 'GameFont';
  src: url('fonts/GameFont.ttf') format('truetype');
}
@font-face {
  font-family: 'wbot';
  src: url('fonts/wBot.ttf') format('truetype');
}
@font-face {
  font-family: 'Neuro';
  src: url('fonts/neuropol.ttf') format('truetype');
}
@font-face {
  font-family: 'Chem';
  src: url('fonts/chemrea.ttf') format('truetype');
}
.uStats {
	margin:0 auto; margin-top:6px; border:1px solid black; text-shadow:2px 2px 2px black; background:#333 url(//i.imgur.com/ogTWcqO.png) center center no-repeat; background-size:cover;
}

#modInfo {
	text-align:center;
	margin-top:-5px;
	margin-bottom:10px;
	line-height:30px;
}
#modInfo tr td {
	background: #222;
	color:white;
	border:1px solid black; 
	padding:6px; 
	font-size:small;
}
.discordBtn {
	padding:20px;
	text-height:0px;
	background-image: url('/css/images/hv discord-yellow.png');
	background-size:100% 100%;
	background-position:center center;
	background-repeat:no-repeat;
	cursor:pointer;
	border:1px solid black;
	max-width: 180px;
	height:40px;
	margin:0 auto;
}
.steamBtn {
	padding-top:20px;
	padding-bottom:20px;
	margin:0 auto;
	text-height:0px;
	background-color:#333;
	border:1px solid black;
	background-image: url('//steamcommunity-a.akamaihd.net/public/shared/images/header/globalheader_logo.png?');
	background-size:contain;
	background-position:center center;
	background-repeat:no-repeat;
	max-width: 180px;
	height:40px;
	cursor:pointer;
	font-family:'Halo';
	font-weight:bold;
	color:white;
	text-align:center; 
	font-size:12px;
}
.hecBtn {
	padding:20px;
	margin:0 auto;
	text-height:0px;
	background-color:#111;
	border:1px solid black;
	background-image: url('//hec.haloshare.org/core/img/HCEtrnsparent.png');
	background-size:contain;
	background-position:center center;
	background-repeat:no-repeat;
	max-width: 180px;
	height:40px;
	cursor:pointer;
	font-family:'Halo';
	font-weight:bold;
	color:gold;
	text-align:center; 
	font-size:12px;
}
.dlMap {
	background-color:#333;
	padding:7px;
	border:1px solid black;
	font-weight:bold;
	float:left;
	text-align:center;
}
h1 {
	font-size: 230px;
}
.banner h1 {
	font-size: 0px;
}
.fixed { 
	position:fixed!important; 
	text-align:center; 
	width:100%; 
	line-height:40px; 
	max-width:97%; 
	z-index:100!important; 
	top:0px; 
	left:0px; 
	right:0px;
	-webkit-box-shadow: 0 6px 6px -2px #111;
	-moz-box-shadow: 0 6px 6px -2px #111;
    box-shadow: 0 6px 6px -2px #111;	
}
.loadMore {
	float: center;
	width: 100%;
	text-align: center;
	cursor: pointer;
}
table.cleanTable {
	min-width: 100%; 
}
table.cleanTable td {
	padding:3px;
	text-align: center;
}
table.cleanTable tr:nth-child(even) {
	background: #434343;
}
div.forgeList div.row:nth-child(odd) {
	background: #434343;
}
div.notList div.row:nth-child(odd) {
	background: #434343;
}
div.modList div.row:nth-child(odd) {
	background: #434343;
}
td.mapList {
	border:1px solid 0f0f0f; 
	padding:4px;
}

td.userList {
	border: 1px solid 0f0f0f;
	padding: 2px;
}

td.modList {
	border: 1px solid 0f0f0f;
	padding: 2px;
}

.modList tr {
	height: 50px;
}

a {
	text-decoration: none;
	color: #D4AC0D;
}

a:hover {
	text-decoration: none;
	color: yellow;
}

div.wrapper {
	position: relative;
	width: 95%;
	min-height: 100%;
	align: center;
	float: center:
	border: 2px solid black;
	margin: 0 auto;
	background: #474747;
	box-shadow: 0px 0px 50px #222;
	-webkit-box-shadow: 0px 0px 50px #222;
	-moz-box-shadow: 0px 0px 50px #222;
}

div.inner-wrapper {
	padding: 20px;
}

body {
	padding: 10px;
	padding-bottom: 20px;
	font-family: sans-serif;
	color: #B4B4B4;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

div.footer {
	align: center;
	float: bottom;
	display: block;
	max-width: 100%;
	height: 130px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	text-align: center;
	bottom: 0px;
	margin-top: 30px;
	background-color: #303030;
}
div.comment {
	background-color: #545454;
	color: white;
	float: center;
	max-width: 90%;
	box-shadow: 0px 0px 10px #202020;
	-webkit-box-shadow: 0px 0px 10px #202020;
	-moz-box-shadow: 0px 0px 10px #202020;
	margin-bottom: 30px;
}
.comment div {
	max-height: 1000px;
	overflow: hidden !important;
} 
h5 {
	display: block;
	max-width: 100%;
	background-color: #323232;
	color: white;
	padding: 4px;
	size: 11pt;
}
div.sidebar h5 {
	display: block;
	background-color: #323232;
	color: silver;
	font-weight:bold;
	border-bottom: 0px;
	max-width: 90%;
	text-align:center;
	margin:0 auto;
	margin-bottom: 0px;
	size: 9pt;
}
div.bbb {
	padding:5px;
	padding-left: 0px;
}
div.bbb button {
	font-size: small;
	text-align: center;
	background-color: #767676;
	border: 1px solid black;
	line-height: 20px;
}

div.banner {
	width: 100%;
	color: black;
	font-family: 'Halo', sans-serif;
	text-align: center;
	background: url('/css/images/ETHERbanner.png') no-repeat center #000;
	background-size: 100% 100%;
	height: 200px;
}

div.nav {
	text-decoration: bold;
	font-family: 'Neuro', sans-serif;
	font-size: large;
	float: top;
	z-index:100;
	min-width: 100%;
	line-height: 60px;
	background-color: #303030;
	text-align: center;

}
div.navButton {
	text-align:center; 
	width: 20%;
	text-decoration: strong;
	line-height: 40px;
	align: center;
	float: left;
	margin: 0 auto;
}
div.navButton:hover {
	background: #C7AD4C url(/css/images/h2/icebound.png) 100% 100%;
	color: yellow;
	font-size:20px;
	background-image:url('/css/images/h2/panel.png');
	background-size:100% 100%;
}
div.sidebar {
	margin-bottom: 34px;
	margin-top: 34px;
	align: left;
	float: right;
	border: 1px solid black;
	max-width: 25%;
	color: white;
	background-color: #303030;
	padding-bottom: 40px;
	padding: 17px;
}
div.sidebar h4 {
	font-family: 'wbot', sans-serif;
	background: #444444;
	max-width: 100%;
	padding: 5px;
	text-align: center;
	color: gold;
	font-size: medium;
}
div.innerSidebar {
	border-bottom: 1px solid black;
	border-top: 0px;
	float: top;
	background-color: #545454;
	max-width: 100%;
	margin-top: -22px;
	margin-bottom: 40px;
	box-shadow: 0px 0px 5px #000000;
}
form#login div input[type="text"]:-webkit-autofill, form#login div input[type="password"]:-webkit-autofill {
	background-color: #767676;
}
input[type="text"], input[type="button"], input[type="submit"], input[type="password"] {
    -webkit-box-shadow: 0 0 0px 1000px #767676 inset;
	background-color: #767676;
	border: 1px solid black;
	line-height: 17px;
	-webkit-text-fill-color: #343434;
	color: black;
	max-width: 75%;
	margin-top: 1px;
}
input[type="text"], input[type="button"], input[type="submit"], input[type="password"], select, button, textarea {
	border-top-left-radius:6px;
	border-bottom-right-radius:6px;
	display:inline-flex;
	align-items:center;
}
textarea {
	background-color: #767676;
	border: 1px solid black;
	display: block;
	width: 100%;
	-webkit-text-fill-color: #343434;
	color: black;
}
select {
	background-color: #767676;
	border: 1px solid black;
	-webkit-text-fill-color: #343434;
	color: black;
}
option {
	background-color: #767676;
	border: 1px solid black;
	-webkit-text-fill-color: #343434;
	color: black;
}
button {
	-webkit-text-fill-color: #343434;
	color: black;
}
.recent {
	border:1px solid #323232;
	width:90%;
	margin:0 auto;
}
table {
	max-width: 100% !important; 
}
table.recent tr td {
	padding: 3px;
}
table.recent tr:nth-child(odd) {
	background-color: #606060;
}
div.content {
	align: top;
	float: left;
	padding: 10px;
	max-width: 72%;
	min-width: 72%;
	display: block;
	color: white;
	font-size:125%;
}
.content h2 {
	  font-family: 'Neuro', sans-serif;
	  font-size: 52px!important;
	  color: gold !important;
	  border-bottom: 1px solid #5C5A09;
	  display: block;
	  max-width: 100%;
}
.contentHeader {
	  font-family: 'Neuro', sans-serif;
	  font-size: 52px!important;
	  color: gold !important;
	  border-bottom: 1px solid #5C5A09;
	  display: block;
	  margin-bottom: 20px;
}
h3 {
	  font-family: 'Neuro', 'Chem', sans-serif;
	  font-size: x-large;
	  color: gold;
	  width: 100%
	  max-width: 100%;
	  display: block;
	  padding: 6px;
	  background-color: #303030;
}
h3 div {
	text-decoration: none;
	float: right;
	font-size: medium;
}
.contentTitle {
	  font-family: 'HaloOutline', sans-serif;
	  font-size: x-large;
	  color: gold;
	  width: 100%
	  max-width: 100%;
	  display: block;
	  padding: 6px;
	  background-color: #303030;
}
.content h4 {
	  font-family: 'Neuro', sans-serif;
	  font-size: large;
	  color: white;
	  max-width: 100%;
	  padding-left: 6px;
	  display: block;
	  padding: 3px;
	  background-color: #303030;
}
.content div.contentHolder {
	display: block;
	border:1px solid #303030;
	border-top: 0px;
	padding: 16px;
	padding-top: 20px;
	margin-top: -25px;
	min-width: 100%;
	box-shadow: 0px 0px 30px #303030;
	-webkit-box-shadow: 0px 0px 30px #303030;
	-moz-box-shadow: 0px 0px 30px #303030;
	overflow: hidden;
}
.contentHolder div.modContent {
	min-height: 400px;
}
.contentHolder div.modContent {
	min-height: 500px;
}
.mapimg blockquote{
  display:block;
  background: black;
  opacity: 0.4 !important;
  padding: 20px;
  margin: 0;
  position: relative;
  max-width: 100%;
  font-family: Georgia, serif;
  font-size: small;
  line-height: 1.2;
  float:right;
  color: #f0f0f0;
  text-align: justify;
  -moz-box-shadow: 0px 0px 3px #333;
  -webkit-box-shadow: 0px 0px 3px #333;
  box-shadow: 0px 0px 3px #333;
}

.mapimg blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  font-family: Georgia, serif;
  font-size: 30px;
  color: #999;
  position: absolute;
  left: 5px;
  top:5px;
}

.mapimg blockquote::after{
  content: "\201D";
  font-family: Georgia, serif;
  font-size: 42px;
  color: #999;
  position: absolute;
  right: 5px;
  bottom:-22px;
}

.mapimg blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

.mapimg blockquote a:hover{
 color: #666;
}

.mapimg blockquote em{
  font-style: italic;
}
blockquote{
  display:block;
  background: #F0F0F0;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  max-width: 80%;
  font-family: Georgia, serif;
  font-size: small;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  border-left: 15px solid black;
  border-right: 2px solid #black;
  -moz-box-shadow: 0px 0px 15px #333;
  -webkit-box-shadow: 0px 0px 15px #333;
  box-shadow: 0px 0px 15px #333;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}
a.rLink {
	color:white;
}

code {
  display:block;
  background: #222;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  max-width: 80%;
  font-family: Comic Sans, serif;
  font-size: 12px;
  background: url('images/darkCode.jpg');
  line-height: 1.2;
  color: white;
  text-align: justify;
  border-left: 15px solid black;
  border-right: 2px solid #black;
  -moz-box-shadow: 0px 0px 15px #333;
  -webkit-box-shadow: 0px 0px 15px #333;
  box-shadow: 0px 0px 15px #333;
}

code::before{
  content: "";
  font-family: Georgia, serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 10px;
  top:5px;
}
 code em{
  font-style: italic;
}
.footlinks {  
	display:inline-flex;
	align-items:center;
	min-width:60px;
	background-color:black;
	max-height:20px;
	padding:4px;
	border:1px solid black;
}
.footlinks:hover {
	background: url(https://brucepowerdirect.com/wp-content/uploads/2013/10/transparent-diagonal-gradient1.png);
}